.cart__item {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-block__image {
    width: 100px;
    height: 100px;
  }

.cart-wrapper {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
  
  }
  .header__cart {
  
  }
  
  .button__delimiter {
  
  }
  
  .content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container--cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart {
    width: 100%;
  }
  .cart__item div {
    margin: 15px;
  }
  .cart__item-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart--empty {
    width: max-content;
    margin: 0 auto;
  }
  .cart--empty div {
    margin-bottom: 15px;
  }
  .cart--empty p {
    margin-bottom: 15px;
  }
  
  .cart__clear {
    cursor: pointer;
  }
  
  
  
  .cart__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
  }
  .cart__bottom-details {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }
  .cart__bottom-details span {
    margin: 15px;
  }
  .cart__bottom-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }
  .cart__bottom-buttons button {
    margin: 15px;
  }
  .cart__bottom-buttons a {
    margin: 15px;
  }
  