ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: #000;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  max-width: 100vw;
}

.__container__main {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1250px;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  padding-top: 50px;
  width: 157px;
  font-size: 26px;
  font-weight: 700;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 918px;
  padding-top: 50px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.nav-list li {
  margin: 7.5px 7.5px 7.5px 42px;
}

.icon-nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-nav img {
  max-width: 40px;
  max-height: 40px;
}

.icon-nav div {
  margin-left: 25px;
}

.basket {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 24px;
  z-index: 10;
}

.basket span {
  margin: auto 0;
}

.basket__number {
  width: 15px;
  height: 15px;
  position: absolute;
  right: -6px;
  bottom: 18px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: #ea0025;
  border-radius: 15px;
}

.header__content {
  position: relative;
  min-height: 680px;
  margin-top: 110px;
  background-repeat: no-repeat;
  background-position: 450px 50px;
  background-size: contain;
}

.header__text-content__title {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.header__text-content__text {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  color: #72696a;
}

.header__text-content-1 {
  width: 200px;
  height: 70px;
  background-color: #c4a586;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 40px 22px 0px 0px;
}

.header__text-content-2 {
  width: 200px;
  height: 70px;
  border: 1px solid #c4a586;
  color: #c4a586;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0px 0px 0px;
}

/* ----------------------------------- */
.section__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.section__clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1110px;
  height: 130px;
}

.section__clients-container__title {
  width: 281px;
  color: #292019;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.section__clients-container__images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__clients-container__images p {
  margin: 15px;
  font-size: 20px;
}

/* ------------------------------------------------- */
.section__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 388px;
  margin-top: 50px;
}

.furniture__collection__1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  background-color: #fcefe9;
  overflow: hidden;
}

.furniture__collection__1-text__container {
  width: 400px;
  min-height: 388px;
}

.furniture__collection__1-title {
  width: 200px;
  font-size: 34px;
  font-weight: 700;
  padding-top: 110px;
  margin: 0 0 0 auto;
}

.furniture__collection__1-subtitle {
  width: 200px;
  font-size: 20px;
  padding-top: 110px;
  margin: 0 0 0 auto;
}

.furniture__collection__1-img {
  width: 500px;
  height: 351px;
  margin: auto 20px auto 0;
  background-blend-mode: multiply;
  background-image: url(./backgroung-img/left.png);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: #fcefe9;
}

.furniture__collection__2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  min-height: 388px;
  background-color: #fae2c8;
  overflow: hidden;
}

.furniture__collection__2-text__container {
  width: 320px;
}

.furniture__collection__2-title {
  width: 195px;
  margin: 0 auto;
  font-size: 34px;
  font-weight: 700;
  padding-top: 110px;
}

.furniture__collection__2-subtitle {
  width: 195px;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 110px;
}

.furniture__collection__2-img {
  width: 50%;
  height: 216px;
  margin: auto 0;
  background-blend-mode: multiply;
  background-image: url(./backgroung-img/right.jpg);
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  background-color: #fae2c8;
}

.section__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 170px;
  max-width: 1200px;
}

.section__products__container {
  width: 100%;
  min-height: 1050px;
}

.section__products__nav {
  width: 100%;
  min-height: 300px;
}

.section__products__nav__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__products__nav__top__left {
  max-width: 320px;
}

.section__products__nav__top__left-title {
  font-size: 34px;
  font-weight: 700;
  color: #3d3d3f;
}

.section__products__nav__top__left-selling {
  font-size: 23px;
  font-weight: 500;
  color: #a9a7a6;
}

.section__products__nav__top__left-selling :first-child {
  padding-right: 100px;
}

.section__products__nav__top__see-all {
  width: 103px;
  padding-right: 50px;
}

.section__products__nav__top__see-all span {
  font-size: 17px;
  color: #3d3d3f;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-top: 110px;
}

.categories span {
  padding: 10px;
  border-radius: 60px;
  font-size: 18px;
  margin: 15px;
  font-weight: 600;
  color: #a9a7a6;
  overflow: hidden;
  cursor: pointer;
}

.activeItem {
  background-color: #2b2b2b;
  color: #000;
}

.section__products__cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100vw;
  min-height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__products__cards__img {
  position: absolute;
  bottom: 7.5px;
  width: 280px;
  height: 280px;
}

.section__products__cards__img img {
  width: 280px;
  max-height: 280px;
  border-radius: 10px;
}

.sort {
  width: 200px;
  margin-right: 15px;
}

.sort__label b {
  margin: 5px;
}

.sort__label span {
  display: inline-block;
  width: 100px;
  padding-right: 5px;
  cursor: pointer;
}

.sort__popup {
  cursor: pointer;
}

.section__products__cards {
  margin-top: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 315px;
  height: 444px;
  border: solid #ffa900;
  background-color: #ffdea4;
  border-radius: 5px;
}

.section__products__cards__button {
  position: absolute;
  top: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #ff9000;
  cursor: pointer;
}

.section__products__cards__button p {
  margin-left: 10px;
}

.section__products__cards__basket-img {
  margin: auto 0;
  padding-left: 8px;
  width: 26px;
  max-height: 14px;
}

.section__products__cards__basket-img img {
  margin: auto 0;
  width: 17px;
  height: 17px;
}

.section__products__cards__title {
  width: 250px;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
  color: #3d3d3f;
}

.section__products__cards__price {
  width: 250px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 500;
  color: #3d3d3f;
}

.crossed__out__price {
  margin-left: 15px;
  text-decoration: line-through;
  color: #5f5f5f;
}

.section__products__cards__img {
  position: absolute;
  bottom: 7.5px;
  width: 300px;
  height: 300px;
}

.section__products__cards__img img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.cart__item {
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-block__image {
  width: 100px;
  height: 100px;
}

.cart-wrapper {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  width: 100%;
}

.cart__item div {
  margin: 15px;
}

.cart__item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--empty {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.cart--empty div {
  margin-bottom: 15px;
}

.cart--empty p {
  margin-bottom: 15px;
}

.cart__clear {
  cursor: pointer;
}

.cart__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.cart__bottom-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.cart__bottom-details span {
  margin: 15px;
}

.cart__bottom-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.cart__bottom-buttons button {
  margin: 15px;
}

.cart__bottom-buttons a {
  margin: 15px;
}

.futter__container {
  margin-top: 50px;
  min-height: 180px;
  background-color: #fae2c8;
  border-radius: 10px;
}

.futter__nav {
  margin: 0 50px;
}

@media (max-width: 992px) {
  .header__content {
    margin-top: 40px;
  }
  .header__text-content__title {
    font-size: 50px;
  }
  .header__text-content__text {
    font-size: 16px;
  }
  .nav-list li {
    margin-left: 22px;
  }
  .nav-list_item {
    margin-top: 5px;
  }
  .section__products__nav__top__see-all {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .furniture__collection__1-img {
    max-width: 320px;
  }
  .furniture__collection__1__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 650px;
  }
  .furniture__collection__1-text__container {
    margin: 0 auto;
  }
  .furniture__collection__1-title {
    margin: 0 auto;
  }
  .furniture__collection__1-subtitle {
    margin: 0 auto;
  }
  .furniture__collection__2__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 650px;
  }
  .furniture__collection__2-text__container {
    margin: 0 auto;
  }
  .furniture__collection__2-title {
    margin: 0 auto;
  }
  .furniture__collection__2-subtitle {
    margin: 0 auto;
  }
}

@media (max-width: 690px) {
  .furniture__collection__1-img {
    background-size: 250px;
    background-position: center;
  }
  .section__products__nav__top__left-title {
    padding-right: 50px;
  }
  .section__products__nav__top__left-selling {
    padding-right: 0;
  }
  .section__products__nav__top__left-selling span {
    font-size: 20px;
  }
  .section__products__nav__top__left-selling :first-child {
    padding-right: 30px;
  }
  .section__products__cards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px 10px 10px 10px;
  }
  .header__text-content__title {
    font-size: 25px;
  }
  .furniture__collection__1-img {
    margin: 0 15px;
  }
  .furniture__collection__2-img {
    margin: 0 15px;
  }
}

@media (max-width: 430px) {
  .furniture__collection__1-text__container {
    width: 250px;
  }
  .section__products__nav {
    min-width: 300px;
    background-size: 0;
  }
  .furniture__collection__1-img {
    background-size: 250px;
  }
}

@media (max-width: 370px) {
  .section__products__cards__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section__products__nav__lower {
    width: 250px;
    margin: 0;
  }
}

@media (max-width: 350px) {
  .section__products__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 280px;
    height: 444px;
    margin-top: 70px;
    border: solid #d9ab82;
    background-color: #fff4e8;
    border-radius: 10px;
  }
  .section__products__cards__button {
    position: absolute;
    top: -23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    background-color: #d9ab82;
    cursor: pointer;
  }
  .section__products__cards__basket-img {
    margin: auto 0;
    padding-left: 8px;
    width: 26px;
    max-height: 14px;
  }
  .section__products__cards__title {
    width: 250px;
    margin-top: 30px;
    font-size: 26px;
    font-weight: 700;
    color: #3d3d3f;
  }
  .section__products__cards__img {
    position: absolute;
    bottom: 7.5px;
    width: 250px;
    height: 250px;
  }
  .section__products__cards__img img {
    width: 250px;
    max-height: 250px;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=globals.css.map */